.backButton{
    background: white;
    margin-left: 2pt;
    margin-top:2pt;
    border:black solid 2pt;
    border-radius:5pt;
    font-size: 18pt;
}

.loadingWrapper{
    width: 400pt;
    height: 100pt;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20%;
    display:block;
    background: white;
    border: 5pt white solid;
    border-radius: 5pt"
}

.deerGif{
    width: 100pt;
    height: 100pt; 
    float:left;
}

.loadingText{
    height:50pt;
    float:right;
    font-size: 24pt;
    margin-top: 35pt;
    margin-right:40pt;
}